*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
}
.fa-chevron-left,
.fa-chevron-right{
    font-size: 40px;
    padding: 15px;
    cursor: pointer;
}
img{
    width: 100%;
    border: 5px solid black;
    /* ho dato un'altezza fissa per uniformare le immagini */
    height: 550px;
}
.container-immagine{
    position: relative;
    width: 60%;

}
.circles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0, .6);
    border-radius: 50px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%) ;
}
.circle{
    margin: 10px;
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.circle.active{
    background-color: blue;
}

.bg1{
    background-color: #83acfc;
}
.bg2{
    background-color: #708304;
}
.bg3{
    background-color: #d19c7b;
}
.bg4{
    background-color: #005a8e;
}